In [12]:
'''def list_sum(a):
    cnt = 0
    for i in a:
        cnt += i
    return cnt

list_sum([1, 2, 3, 4, 5])
'''
# list_sum 함수를 정의하고, numbers라는 이름의 '매개변수(parameter)'를 받는다.
def list_sum(numbers):  #사탕 기계.
    #1. 결과값 변수 초기화
    total = 0
    
    #2. 숫자 리스트 순회
    for num in numbers:
        #3. 겨ㅑㄹ과값에 더한다.
        total += num
    #4. 함수의 결과값을 바깥으로 보내기 위해 '반환(Return)'한다. 
    #print(total) # '사탕 받아라'고 기계가 외치는 느낌.
    return total # 사탕 하나를 밖으로 보낸다.


#list_sum 함수를 호출하고, [1,2,3,4,5]라는 '인자(argument)'를 전달한다.
my_sum = list_sum([1, 2, 3, 4, 5])
print(my_sum / 3)
# 이런식으로 함수의값을 바깥에서 적용 시키려면 return을 써야함. print를 쓰면 그 값을 출력하고 뒤의 로직은 적용안됨.

5.0

In [37]:
#3.
#
#def all_list_sum(a):
    #cnt = 0
    #for i in a:
   #     for j in i:
  #          len(j)
        
  #      cnt += 
 #   return cnt

#all_list_sum([1], [2, 3], [4, 5, 6], [7, 8, 9, 10])

def all_list_sum(numbers_list):
    #1. 결과값 변수 초기화
    total = 0
    #2. 첫번째 숫자 리스트를 순회하며,
    for numbers in numbers_list:
        #3. 두번째 숫자 리스트를 순회하며,
        for number in numbers:
            #4. 꺼낸 숫자를 결과값에 더한다.
            total += number
    #5. 결과값을 반환(return)한다.
    return total

all_list_sum([[1],
             [2, 3],
             [4, 5, 6],
             [7, 8, 9, 10]
])

55

In [35]:
#2.dictionary 합 구하기
'''def dic_list_sum(a):
    summ = 0
    for i in a:
        summ += i['age']
    return summ

dic_list_sum([{'name': 'kim', 'age': 12}, 
              {'name': 'lee', 'age': 4}])
'''

def dict_list_sum(persons):
    #1. 변수 초기화
    total = 0
    
    #2. 딕셔너리가 담긴 리스트를 순회하며, 
    for person in persons:
    #3. 'age'라는 key의 value를 뽑아서 결과값에 더한다.
        total += person['age']
    return total

dic_list_sum([{'name': 'kim', 'age': 15}, 
              {'name': 'lee', 'age': 4}])

19