In [1]:
#1 약수 구하기
N= 10

for i in range(1, N+1):
    if N % i == 0:
        print(i, end = ' ')

1 2 5 10

In [9]:
#2. 중간값 찾기

numbers = [2, 5, 1, 3, 4]

#홀수개
# 값 : 1,2,3
# 인덱스: 0,1,2
#반: 1.5 ->1

#1. 리스트의 크기를 찾아서 중간 인덱스 값을 찾는다.
#cnt = 0
#for _ in numbers: #변수를 사용하지 않았기에 언더바로 생략가능!
#    cnt += 1
#print(cnt)

center_index = len(numbers) // 2
#print(center_index)
#print(numbers[center_index])

#2. 리스트를 정렬해서 새로운 변수에 담는다.
sorted_numbers = sorted(numbers)
print(sorted_numbers[center_index])

3

In [16]:

#3. 계단 만들기

number = 4

for i in range(1, number+1):
    print(f'[{i}를 뽑았을 때]')

    for j in range(1, i+1):
        print(j, end=' ')
    print() #줄바꿈!!

[1를 뽑았을 때]
1
[2를 뽑았을 때]
1 2
[3를 뽑았을 때]
1 2 3
[4를 뽑았을 때]
1 2 3 4

In [30]:
#4. 구구단 만들기.

# 2단부터 9단까지 순회
for i in range(2,10):
    print(f'------[{i}단]------')

    # 1부터 9까지 순회(곱하기 위해)
    for j in range(1,10):
      print(f'{i} X {j} = {i*j}')
      
    print() #단 사이 1줄 비우기.(첫 포문에 걸리게!)

------[2단]------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

------[3단]------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

------[4단]------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

------[5단]------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

------[6단]------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

------[7단]------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

------[8단]------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

------[9단]------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81